VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.ssh.insert_key = false

{% for name, config in [("jenkins", jenkins), ("web", web), ("build", build)] %}
  config.vm.define "{{name}}-{{env}}" do |{{name}}|
    {{name}}.vm.box = "ubuntu/trusty64"
{% for forwarded_port in  dev_machine[name].forwarded_port %}
    {{name}}.vm.network "forwarded_port", guest: {{forwarded_port.guest}}, host: {{forwarded_port.host}}
{% endfor %}
{% for shared_folder in  dev_machine[name].shared_folder %}
    {{name}}.vm.synced_folder "{{ shared_folder.host }}", "{{ shared_folder.guest }}"
{% endfor %}
  end

{% endfor %}

end
